@addTagHelper *, DatingService
@model FriendsViewModel

<head>
    <title>@ViewData["Title"] - Пользователи</title>
</head>
<body>
    <div>
        Друзей онлайн : <span id="onlineUsersCount"></span>
    </div>
    <div>
        <page-link page-model="Model.PageViewModel" page-action="Friends"></page-link>
    </div>
    <table class="table" id="userList">
        <thead>
        </thead>
        <tbody>
            @foreach (var item in Model.Friends)
            {
                var path = item.Avatar?.Path;
                @if (path == null)
                {
                    path = item.Gender?.Name == "Woman" ? "no-profile-image-f.svg" : "no-profile-image-m.svg";
                }
                <tr>
                    <td><img class="rounded-circle" style="height:5rem; width:5rem" src="~/Files/Images/Avatars/@path" data-holder-rendered="true"></td>
                    <td>Ofline</td>
                    <td>@item.Email</td>
                    <td>
                        <a type="button" class="btn btn-primary" asp-controller="UserRelationship" asp-action="Chat" asp-route-userId="@item.Id">Написать сообщение</a>
                        <a type="button" class="btn btn-primary" asp-controller="UserRelationship" asp-action="ChangeRequestStatus" asp-route-requestId="@Model.Requests.ElementAt(Model.Friends.IndexOf(item)).Id" asp-route-confirmed="@false">Удалить из друзей</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</body>
@*<style>
        .btn {
            background-color: transparent; /* Blue background */
            border: none; /* Remove borders */
            color: royalblue; /* White text */
            padding: 12px 16px; /* Some padding */
            font-size: 16px; /* Set a font size */
            cursor: pointer; /* Mouse pointer on hover */
        }
            /* Darker background on mouse-over */
            .btn:hover {
                background-color: transparent;
                color: blue;
            }
    </style>*@