@addTagHelper *, DatingService
@model FriendsViewModel
@inject UserManager<ApplicationUser> _userManager
@inject IChatService _chatService
@functions{
    public async Task<Guid> GetChatId(Guid userId)
    {
        var user1 = await _userManager.GetUserAsync(@User);
        var user2 = _userManager.FindByIdAsync(userId.ToString()).Result;
        var chat = _chatService.Get(user1, user2);
        if (chat == default)
        {
            chat = new Chat()
            {
                Users = new List<ApplicationUser> { user1, user2 }
            };
            _chatService.Update(chat);
        }
        return chat.Id;
    }

}
<head>
    <title>@ViewData["Title"] - Пользователи</title>
</head>
<body>
    <div>
        Друзей онлайн : <span id="onlineUsersCount"></span>
    </div>
    <div>
        <page-link page-model="Model.PageViewModel" page-action="Friends"></page-link>
    </div>
    <table class="table" id="userList">
        <thead>
        </thead>
        <tbody>
            @foreach (var item in Model.Friends)
            {
                var path = item.Avatar?.Path;
                @if (path == null)
                {
                    path = item.Gender?.Name == "Woman" ? "no-profile-image-f.svg" : "no-profile-image-m.svg";
                }
                <tr>
                    <td><img class="rounded-circle" style="height:5rem; width:5rem" src="~/Files/Images/Avatars/@path" data-holder-rendered="true"></td>
                    <td>Ofline</td>
                    <td>@item.FullName</td>
                    <td>
                        <a type="button" class="btn btn-primary" asp-controller="Friend" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a type="button" class="btn btn-primary" asp-controller="Chat" asp-action="Details" asp-route-id="@GetChatId(item.Id).Result">Написать сообщение</a>
                        <a type="button" class="btn btn-primary" asp-controller="UserRelationship" asp-action="ChangeRequestStatus" asp-route-requestId="@Model.Requests.ElementAt(Model.Friends.IndexOf(item)).Id" asp-route-confirmed="@false">Удалить из друзей</a>
                        <a type="button" class="btn btn-danger" asp-controller="Friend" asp-action="CreateReport" asp-route-userId="@item.Id">Report</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</body>
@*<style>
        .btn {
            background-color: transparent; /* Blue background */
            border: none; /* Remove borders */
            color: royalblue; /* White text */
            padding: 12px 16px; /* Some padding */
            font-size: 16px; /* Set a font size */
            cursor: pointer; /* Mouse pointer on hover */
        }
            /* Darker background on mouse-over */
            .btn:hover {
                background-color: transparent;
                color: blue;
            }
    </style>*@