@using DatingService.Infrastructure.ViewModels
@model IQueryable<ApplicationUser>
@{
    ViewData["Title"] = "Cards";
}


<main class="rec-main" style="position: relative">
    <script>
        particlesJS.load('particles-js', '../../js/particles.json', function () {
            console.log('callback - particles.js config loaded');
        });
    </script>
    <section class="rec-card-board ">
        <input id="senderId" hidden value="@ViewBag.senderId" />
        @foreach (var item in Model)
        {
            var path = item.AvatarPath;
            @if (path == null)
            {
                path = item.GenderId == Guid.Parse("b50075d8-0379-4b95-b0c2-50bba4509dab") ? "no-profile-image-f.svg" : "no-profile-image-m.svg";
            }
            <article class="rec-card">
                <article class="rec-card-inner">
                    <article class="rec-card-front">
                        <img src="~/Files/Images/Avatars/@path" class="rec-img" />
                        <h3 class="rec-card-text">@item.FullName</h3>
                        <input id="receiverId" hidden value="@item.Id" />
                    </article>
                    <article class="rec-card-back">
                        <h2>@item.FirstName</h2>
                        <h2>@item.LastName</h2>
                        <h2>@item.DateOfBirth</h2>
                    </article>
                </article>
            </article>
        }
    </section>
    <section class="rec-button-holder d-flex">
        <a id="dislikeButton">
            <i class="far fa-thumbs-down fa-4x mx-4"></i>
        </a>
        <a id="likeButton">
            <i class="far fa-thumbs-up fa-4x mx-4"></i>
        </a>
    </section>

</main>
<script src="https://kit.fontawesome.com/2aa6a9b570.js" crossorigin="anonymous"></script>