@model Chat
@inject UserManager<ApplicationUser> userManager

<div id="comments">
    @if (Model.Messages != null)
    {
        @foreach (var message in Model.Messages)
        {
            <div class="box @(message.UserId == userManager.FindByNameAsync(User.Identity.Name).Result.Id ? "box_right" : "box_left")">
                <p class="card-text">@userManager.GetUserNameAsync(userManager.FindByIdAsync(message.UserId.ToString()).Result).Result</p>
                <div class="card text-white bg-info mb-3 w-100">
                    <div class="card-body">
                        <h5 class="card-title">@message.Content</h5>
                        <p class="card-text text-right"><small class="text">message.DateCreated</small></p>
                    </div>
                </div>
            </div>
        }
    }
</div>
<form>
    <input type="hidden" asp-for="@Model.Id" class="form-control" id="chatId" />
    <div class="form-group">
        <textarea class="form-control" placeholder="Комментарий" rows="5" id="content"></textarea>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Отправить" id="send" />
    </div>
</form>
<style>
    #comments {
        text-align: left;
        margin: 0 auto;
        margin-bottom: 25px;
        padding: 10px;
        background: #fff;
        height: 40rem;
        width: 100%;
        overflow: auto;
    }
</style>
<link rel="stylesheet" href="~/css/message.css" />
<style>
    .box {
        /*min-height: 200px;*/
        width: 50%;
        padding: .8em;
    }

    .box_left {
        margin: 0 auto 0 0;
    }

    .box_center {
        margin: 0 auto;
    }

    .box_right {
        margin: 0 0 0 auto;
    }

    .box + .box {
        margin-top: 0px;
    }
</style>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    const currentUserName = '@User.Identity.Name';
    var curPos = $(document).scrollTop();
    var height = $("#comments").height();
    var scrollTime = (height - curPos) / 1.73;
    //$("#comments").animate({ "scrollTop": height }, "slow");
    //$("#comments").animate({
    //    scrollTop: ($("#comments").offset().top + $("#comments").height())
    //}, 500);
  //  $("#comments").scrollTop(100)
    var objDiv = document.getElementById("comments");
    objDiv.scrollTop = objDiv.scrollHeight;
</script>
<script src="~/lib/microsoft-signalr/signalr.min.js"></script>
<script src="~/js/sendMessages.js"></script>