@model ApplicationUser

@{
    ViewData["Title"] = "Requests";
}

@functions {
    public string GetAvatarPath(ApplicationUser user)
    {
        var path = user.AvatarPath;
        if (path == null)
        {
            path = user.GenderId == Guid.Parse("b50075d8-0379-4b95-b0c2-50bba4509dab") ? "no-profile-image-f.svg" : "no-profile-image-m.svg";
        }
        return path;
    }
}

<div class="row align-items-start  m-2">
    <div class="col-md-6 text-center mr-4">
        <div class="card shadow mb-4 px-2 py-4">
            <img class="rounded-circle mx-auto card-img-top" style="min-height: 2rem; max-height: 10rem; min-width: 2rem; max-width: 10rem " src="~/Files/Images/Avatars/@GetAvatarPath(Model)" data-holder-rendered="true">
            <h2 class="text-dark">@Model.FullName</h2>
        </div>
        <h3 class="text-left">Info</h3>
        <div class="mb-4 text-left">
            <div class="card shadow mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-5">First Name</div>
                        <div class="col-sm-6 text-secondary">@Model.FirstName</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-5">Last Name</div>
                        <div class="col-sm-6 text-secondary">@Model.LastName</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-5">Date Of Birth</div>
                        <div class="col-sm-6 text-secondary">@Model.DateOfBirth.ToShortDateString()</div>
                    </div>
                    <hr>
                    @if (Model.Gender != null)
                    {
                        <div class="row">
                            <div class="col-sm-5">Gender</div>
                            <div class="col-sm-6 text-secondary">@Model.Gender.Name</div>
                        </div>
                    }
                    <hr>
                </div>
            </div>
            <h3 class="text-left">Contacts</h3>
            <div class="card shadow mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-5">Email</div>
                        <div class="col-sm-6 text-secondary">@Model.Email</div>
                    </div>
                    <hr>
                    @if (Model.PhoneNumber != null)
                    {
                        <div class="row">
                            <div class="col-sm-5">Phone Number</div>
                            <div class="col-sm-6 text-secondary">@Model.PhoneNumber</div>
                        </div>
                        <hr>
                    }
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-5  px-4 py-2">
        <h2>Posts</h2>
        <div>
            @foreach (var item in Model.Posts)
            {
                var postPath = "";
                @if (item.Image?.Path != null)
                {
                    postPath = item.Image?.Path;
                }
                else
                {
                    postPath = "no-title-image.jpeg";
                }
                <div class="card shadow my-4">

                    <img src="~/Files/Images/Posts/@postPath" alt="@item.Title Image" class="card-img-top" style="">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                    </div>
                    <div class="card-footer text-right">
                        <a asp-area="" asp-controller="Post" asp-action="Details" asp-route-id="@item.Id" class="card-link stretched-link" style="text-decoration: underline">Details</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/matchDeatails.css" />