@model IEnumerable<ApplicationUser>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>EmailConfirmed</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.EmailConfirmed)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary icon-wrapper">
                        <i class="fas fa-info"></i>
                    </a>
                    <a asp-action="SendMessage" asp-route-id="@item.Id" class="btn btn-primary icon-wrapper">
                        <i class="fas fa-envelope-open"></i>
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning icon-wrapper">
                        <i class="fas fa-user-edit"></i>
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning icon-wrapper">
                        <i class="fas fa-user-tag"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger icon-wrapper">
                        <i class="fas fa-user-lock"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger icon-wrapper">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .icon-wrapper {
        width: 3rem;
    }
</style>
