@model MatchListViewModel

@inject UserManager<ApplicationUser> _userManager
@inject IChatService _chatService

@functions{
    public async Task<Guid> GetChatId(Guid userId)
    {
        var user1 = await _userManager.GetUserAsync(@User);
        var user2 = _userManager.FindByIdAsync(userId.ToString()).Result;
        var chat = _chatService.Get(user1, user2);
        if (chat == default)
        {
            chat = new Chat()
            {
                Users = new List<ApplicationUser> { user1, user2 }
            };
            _chatService.Update(chat);
        }
        return chat.Id;
    }
}

@{
    ViewData["Title"] = "Matches";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

<div class="my-4">
    <form id="filterMatchesForm" method="get" class="d-flex">
        <div class="input-group h-100">
            <input type="text" asp-for="Filter" class="form-control" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model.Matches)
        {
            var path = item.AvatarPath;
            @if (path == null)
            {
                path = item.Gender?.Name == "Woman" ? "no-profile-image-f.svg" : "no-profile-image-m.svg";
            }

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="advisor_thumb">
                        <img src="~/Files/Images/Avatars/@path" style="height: 16rem;" alt="">

                        <div class="social-info">
                            <a asp-controller="Match" asp-action="Details" asp-route-id="@item.Id">
                                <i class="fas fa-info" style="font-size: 1rem;"></i>
                            </a>
                            <a asp-controller="Chat" asp-action="Details" asp-route-id="@GetChatId(item.Id).Result">
                                <i class="fas fa-comments" style="font-size: 1rem;"></i>
                            </a>
                            <a asp-controller="Match" asp-action="RemoveMatch" asp-route-id="@item.Id" asp-route-confirmed="@false">
                                <i class="fas fa-trash" style="font-size: 1rem;"></i>
                            </a>
                            <a asp-controller="Match" asp-action="CreateReport" asp-route-userId="@item.Id">
                                <i class="fas fa-lock" style="font-size: 1rem;"></i>
                            </a>
                        </div>
                    </div>

                    <div class="single_advisor_details_info">
                        <p style="font-size: 1.5rem;">@item.FullName</p>
                        <p class="designation">@item.DateOfBirth.ToShortDateString()</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<page-link model="@Model.PageViewModel" action="List" action-filter="@(Model.Filter)"></page-link>

