@model RequestViewModel

@{
    ViewData["Title"] = "Requests";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

<div class="row align-items-start m-2">
    <div class="col-md-6 shadow px-4 py-2 mb-4 mr-4">
        <h2>Inbox</h2>

        <div class="p-2 m-1">
            @foreach (var item in Model.IncomingRequests)
            {
                var path = item.Sender.AvatarPath;
                @if (path == null)
                {
                    path = item.Sender.GenderId == Guid.Parse("b50075d8-0379-4b95-b0c2-50bba4509dab") ? "no-profile-image-f.svg" : "no-profile-image-m.svg";
                }
                <hr />
                <div class="row px-2 py-4 m-2 align-items-center justify-content-between">
                    <div class="p-1">
                        <img class="rounded-circle" style="height:4rem; width:4rem" src="~/Files/Images/Avatars/@path" data-holder-rendered="true">
                        <a asp-controller="Match" asp-action="Details" asp-route-id="@item.SenderId" class="m-0 align-self-center text-info" style="text-decoration: underline;">@item.Sender.FullName</a>
                    </div>

                    <div class="p-1">
                        <a type="button" class="btn btn-outline-primary m-1" asp-controller="Match" asp-action="ChangeRequest" asp-route-requestId="@item.Id" asp-route-confirmed="@true">
                            <i class="fas fa-user-check"></i> Accept
                        </a>
                        <a type="button" class="btn btn-outline-danger m-1" asp-controller="Match" asp-action="ChangeRequest" asp-route-requestId="@item.Id" asp-route-confirmed="@false">
                            <i class="fas fa-user-times"></i> Reject
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="col-md-4 shadow px-4 py-2">
        <h2>Sent</h2>

        <div class="p-2 m-1">
            @foreach (var item in Model.OutgoingRequests)
            {
                var path = item.Receiver.AvatarPath;
                @if (path == null)
                {
                    path = item.Receiver.GenderId == Guid.Parse("b50075d8-0379-4b95-b0c2-50bba4509dab") ? "no-profile-image-f.svg" : "no-profile-image-m.svg"; ;
                }
                <hr />
                <div class="row px-2 py-4 m-2 align-items-center justify-content-between">
                    <div class="p-1">
                        <img class="rounded-circle" style="height:4rem; width:4rem" src="~/Files/Images/Avatars/@path" data-holder-rendered="true">
                        <a asp-controller="Match" asp-action="Details" asp-route-id="@item.ReceiverId" class="m-0 align-self-center text-info" style="text-decoration: underline;">@item.Receiver.FullName</a>
                    </div>

                    <div class="p-1">
                        <a type="button" class="btn btn-outline-danger" asp-controller="Match" asp-action="ChangeRequest" asp-route-requestId="@item.Id" asp-route-confirmed="@false">
                            <i class="fas fa-times"></i> Cancel
                        </a>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
